body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .head{
    font-size: 30px;
    font-weight:bold;
  }
  .image-icon{
    height: 50px;
   
  
  }
  .move-buton{
    background-color: transparent;
    border: 3px solid white;
    width: 130px;
    height: 130px;
    border-radius: 70px;
    margin-right: 10px;
    cursor: pointer;
  }
  .result{
  
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
  }
  .score{
    margin-top: 60px;
  }
  .reset-score{
    background-color: white;
    border: none;
    font-size:15px ;
    padding: 8px 15px;
    cursor: pointer;
  }